[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mds-provider = {editable = true, ref = "master", git = "https://github.com/CityofSantaMonica/mds-provider"}

[dev-packages]

[requires]
python_version = "3.7"
